* {

    margin: 0;
    padding: 0;
    

}

body {

    background-color: rgb(36, 36, 36);
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(141, 21, 121);
}

ul {

    

}

ul li {
    list-style: none;
    display: inline-block;
    float: left;

    line-height: 160px;
    margin-left: 50px;

    

}

ul li a {
    
   text-decoration: none;
   
   background: forestgreen;

   border-radius: 12px;

   color: goldenrod;

   font-size: 50px;
   
   padding: 0 50px;

   transition-duration: 200ms;
   
    
}

ul li a:hover {
    
    background: rgb(41, 168, 41);
    
     
 }

 #aboutHead  {

    font-size: 45px;
    color: white;
    margin-left: 5%;

}

#homePic {

    border: 10px solid;
    border-color: orange;
    width: 1000px;
    height: 700px;

    background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/55/spiral-2721566_960_720.jpg");
    background-size: 1000px;
    
    
}

#homeHead{
    float: right;
    margin-right: 250px;
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(195,34,183);
    background: linear-gradient(0deg, rgba(195,34,183,1) 0%, rgba(119,253,45,1) 100%);
    border-radius: 10px;
}



#koveeP, #clownP
{ 
    margin-left: 75px;

}

.logoImg{
    margin: 00px 00px 10px 50px ;
    
    width: 60px;
    height: 60px;
    transition-duration: 200ms;
}

Img:hover{
    width: 70px;
    height: 70px;
    
}



#homePicContainer {

    
   
}